.footer {
    position: relative;
    width: 100%;
    grid-area: f;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    font-family: 'Cutive', serif;
    padding: 0.5rem 6rem 0.5rem 0.5rem;
}

.flaticonRef {
    font-size: xx-small;
    text-align: center;
}

.flaticonRef a {
    color: #595959;
}

@media (max-width: 1000px) {
    .footer {
        padding: 0.5rem;
    }
}

@media (max-width: 745px) {
    .footer {
        font-size: medium;
    }
}

@media (max-width: 350px) {
    .footer {
        font-size: small;
    }
    .flaticonRef {
        text-align: center;
    }
}
