.loginContainer, .loginContainer .loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    height: 100%;
    width: 100%;
}

.loginWrapper {
    padding-bottom: 3rem;
}

.loginContainer .loginWrapper .loginTitle {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0.25rem;
}

@media (max-height: 413px) {
    .loginWrapper {
        padding: 0;
    }
}